
  
:root{
   --color-1:#0CF25D;
   --color-2:#038C3E;
   --color-3:#02735E;
   --color-4:#025951;
   --color-5:#034159;
   --color-0:#F2F2F2;

  /* --color-gradient: linear-gradient(90deg,var(--color-1),var(--color-2),var(--color-3),var(--color-4),var(--color-5));*/
   
   --color-6:#5FCDD9;
   --color-7:#04BFAD;
   --color-8:#027373;
   --color-9:#172026;

   --color-gradient: linear-gradient(90deg,var(--color-6),var(--color-7),var(--color-8),var(--color-9));
}

*{
margin: 0;
padding:0;
font-family:sans-serif;
box-sizing: border-box;
}

#login{
    height: 100vh;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form{
    background-color: var(--color-0);
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.397);
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-header{
    padding-top:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-header h1{
    font-size: 40px;
    position: absolute;
}

#form-header h1::before{
    position: absolute;
    content:"";
    width: 45%;
    background-color: var(--color-8);
    height: 3px;
    bottom:5px;
    border-radius: 5px;
}

#login_button{
    border: none;
    font-size:25px;
    width:5cm;
    background: var(--color-gradient);
    border-radius: 4px;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.397);
}

#inputs{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.input-box{
    font-size: 14px;
    color:rgba(0, 0, 0, 0.767);
}
.input-field{
    border-bottom: 2px solid var(--color-8);
}

.input-field input{
    border:none;
    background-color: transparent;
    font-size:18px;
}

.input-field input:focus {
    outline: none;
}

.input-field i {
    color:black;
}